django
django-heroku
psycopg2-binary
dj-database-url
gunicorn
whitenoise
django-environ
dj_database_url

google
djangorestframework
attrs
django-allauth

requests
requests-oauthlib
python-openid
pyjwt

qrcode
google-cloud-storage
django-storages
Pillow